/*----------general------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("background.png") center/cover fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);
    display: flex;
    color: white !important;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    padding: 30px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

/*----------side bar-----------*/
.nav {
    width: 260px;
    position: sticky;
    top: 30px;
    height: calc(100vh - 60px);
    background: 25px;
    padding: 30px 20px;
    border-radius: 25px 25px 25px 25px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 20px rgba(0,0,0,0.8);
    z-index: 10;
}

.nav ul {
    margin-top: 100px;
    padding-left: 0;
}

.nav ul li {
    list-style: none;
    margin: 35px 0;
    font-size: 18px;
    font-weight: 700;
}

.nav ul li a {
    color: white !important;;
    text-decoration: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-right: 15px;
    font-size: 24px;
    border-left: 4px solid white;
    padding-left: 10px;
    opacity: 1;
}

.nav ul li a i {
    margin-right: 15px;
    font-size: 24px;
}

.nav ul li:hover a {
    color: #ffffff;
    margin-left: 0;
    opacity: 0.8;
}


/*-----------main----------*/
body {
    display: flex; 
    color: white !important;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    padding: 30px;
}

.main-layout-container {
    flex-grow: 1; 
    margin-left: 30px;
    padding: 20px 40px 40px 40px;
    background: 25px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    box-shadow:  0 0 20px rgba(0,0,0,0.8);
    min-height: calc(100vh - 60px);
    
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.reminder-header-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 5px 30px; 
    background-color:  #343434; 
    border-radius: 10px;
    text-align: center;
    letter-spacing: 5px; 
    text-transform: uppercase;
}

.content-row {
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: flex-start; 
    gap: 50px;
    padding-top: 20px;
}

/*----------------- Calendar Styling -----------------*/
.calendar-section {
    width: 450px;
    padding: 20px 0 0 0; 
}

.calendar-wrapper {
    width: 100%;
    background-color: #343434; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    color: white;
}

.month-year-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: black; 
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.month-year-container .month-display {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
    flex-grow: 1;
}


.month-year-container .prev, 
.month-year-container .next {
    cursor: pointer;
    font-size: 20px;
    opacity: 0.2;
    width: 20px;
    text-align: center;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.weekdays li {
    list-style: none;
    width: calc(100% / 7);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.days {
    padding: 10px 0;
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.days li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.28%;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

.days li:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.days li.active {
    background: #ffffff; 
    color: #343434 !important; 
    border-radius: 50%; 
    font-weight: 700;
}


/*----------------- Clock Side-----------------*/
.clock-side-box {
 
    width: 280px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; 
    gap: 30px;
}

.analog-clock-display {
    width: 200px; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.analog-clock-display i.fas.fa-clock {
    font-size: 200px;
}

.digital-time-box {
    background-color: #F8F8FF;
    color: #333;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: baseline;
    line-height: 1;
}

.digital-time-box .am-pm {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    align-self: flex-end; 
    text-transform: lowercase;
}